@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    var UsuarioId = @User.Identity.GetUserId().ToString();
     <nav id="fh5co-menu-wrap" role="navigation">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", role = "navigation" }))
    {
        @Html.AntiForgeryToken()
            
        <ul class="sf-menu" id="fh5co-primary-menu">
            <li>
                
                @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Edit", "Viajantes", new { id = UsuarioId }, htmlAttributes: new { title = "Viajantes" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a></li>
        </ul>
    }
         </nav>
}
else
{
    <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="sf-menu" id="fh5co-primary-menu">
            <li>
                @Html.ActionLink("Registre-se", "Register", "Account")
            </li>
            <li>
                @Html.ActionLink("Entrar", "Login", "Account")
            </li>

        </ul>
    </nav>
}
