@*@using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Registre-se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@




@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
     <nav id="fh5co-menu-wrap" role="navigation">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", role = "navigation" }))
    {
        @Html.AntiForgeryToken()

        <ul class="sf-menu" id="fh5co-primary-menu">
            <li>
                @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Create", "Viajantes", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a></li>
        </ul>
    }
         </nav>
}
else
{
    <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="sf-menu" id="fh5co-primary-menu">
            <li>
                @Html.ActionLink("Registre-se", "Register", "Account")
            </li>
            <li>
                @Html.ActionLink("Entrar", "Login", "Account")
            </li>

        </ul>
    </nav>
}
