@model MeHospedar.Models.Viajante

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configurações de Conta</h2>


@using (Html.BeginForm("Edit", "Viajantes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ViajanteId)
            <div class="col-sm-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sobrenome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @if (Model.Foto != null)
                    {
                        <div style="margin-right: 10px">
                            <img class="img-thumbnail" src=@Model.Foto width="150" height="150" id="img" />
                        </div>

                        <div class="fileUpload btn btn-primary">
                            <span>Upload</span>
                            <input type="file" class="upload" id="upload" name="file" />
                            @Html.HiddenFor(model => model.Foto)

                        </div>
                        @*<div class="form-group">
                                <div class="col-md-12">
                                    <input type="file" value="Buscar" class="btn btn-primary btn-group" />
                                </div>
                            </div>*@
                    }
                    else
                    {
                        <div style="margin-right: 10px">
                            <img class="img-thumbnail form-group-lg" src="~/Imagens/sem-foto.jpg" width="150" height="150" id="img" />
                        </div>
                        <div class="fileUpload btn btn-primary">
                            <span>Upload</span>
                            <input type="file" class="upload" id="upload" name="file" />
                        </div>


                    }

                </div>

            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary btn-group" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<<<", "Index")
</div>

@section	ScriptPage	{
    <script>
        $(function () {
            $('#upload').change(function () {
                const file = $(this)[0].files[0]
                const fileReader = new FileReader()
                fileReader.onloadend = function () {
                    $('#img').attr('src', fileReader.result)

                }
                fileReader.readAsDataURL(file)
            })

        })

    </script>
}
